<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SKRawNetDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>119B8A181FE3FDB0006E47F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119B8A311FE3FDB0006E47F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>119B8A3C1FE3FDB0006E47F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
